<h4 class="text-center">Registro Usuario</h4>
<hr>
<form autocomplete="off" (ngSubmit)="guardar(e)" #e="ngForm">

    <div class="row">
        <div class="col-md-6">
            <label>Nombre</label> 
            <input class="form-control"
               type="text"
               [(ngModel)]="user.name"
               name="nombre"
               placeholder="Nombre"
               required>
        </div>
        <div class="col-md-6">
            <label>Apellido</label> 
            <input class="form-control"
            type="text"
            [(ngModel)]="user.apellido"
            name="apellido"
            placeholder="Apellido">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <label>Email</label> 
            <input class="form-control"
            type="text"
            [(ngModel)]="user.email"
            name="email"
            placeholder="email@tudominio.com">
        </div>
        <div class="col-md-6">
            <label>Telefono</label> 
            <input class="form-control"
            type="text"
            [(ngModel)]="user.telefono"
            name="telefono"
            placeholder="Telefono">
        </div>
    </div>

  <div>

  </div>


  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary btn-block">
        Guardar
      </button>
    </div>
  </div>

</form>

